{% extends "game.html" %}
{% load staticfiles %}
{% load dict_first %}

{% block pagetitle %}Ship Detail:{% endblock %}

{% block content %}
<img src="{% static "ships/img/" %}{{ ship.shipclass.id }}.gif" alt="{{ ship }}" title="{{ ship }}" /> {{ ship.name }} at {{ ship.x }}/{{ ship.y }}

<table>
	<tr>
		<th></th>
		{% with local_map|iter_first as row %}
			{% for x,field in row.items %}
			<th>{{ x }}</th>
			{% endfor %}
		{% endwith %}
	</tr>
	{% for y,row in local_map.items %}
	<tr>
		<th>{{ y }}</th>
		{% for x,field in row.items %}
		<td><img src="{% static "map/img/" %}{{ field.fieldtype.id }}.gif" title="{{ field }}" /></td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

<br />

<form action="{% url "ships:move" ship.id %}" method="post">
{% csrf_token %}
<table>
	<tr>
		<td></td>
		<td><input type="submit" name="up" value="up" /></td>
		<td></td>
	</tr>
	<tr>
		<td><input type="submit" name="left" value="left" /></td>
		<td><input type="text" name="jump" maxlength="2" value="1" style="width: 3em;" /></td>
		<td><input type="submit" name="right" value="right" /></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" name="down" value="down" /></td>
		<td></td>
	</tr>
</table>
</form>
{% endblock %}
