{% extends "game.html" %}
{% load staticfiles %}
{% load dict_first %}
{% load get_item %}

{% block pagetitle %}Ship Detail:{% endblock %}

{% block content %}
<img src="{% static "ships/img/" %}{{ ship.shipclass.id }}.gif" alt="{{ ship }}" title="{{ ship }}" /> {{ ship.name }} at {{ ship.x }}/{{ ship.y }}


{% if ship.modules.all %}
<h2>Modules</h2>
<ul id="modules">
	{% for module in ship.moduleassignment_set.all %}
	<li><img src="{% static "ships/img/modules/" %}{{ module.module.id }}.gif" title="{{ module.module.name }} ({{ module.count }})" alt="{{ module.module.name }} ({{ module.count }})" /></li>
	{% endfor %}
</ul>
{% endif %}

<h2>Short range sensors</h2>
<table>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Class</th>
		<th>Owner</th>
	</tr>
	{% for srs_ship in ships_in_sensor_range|get_y:ship.y|get_x:ship.x %}
		{% if srs_ship.id != ship.id %}
			<tr>
				<td><img src="{% static "ships/img/" %}{{ srs_ship.shipclass.id }}.gif" alt="{{ srs_ship }}" title="{{ srs_ship }}" /></td>
				<td>{{ srs_ship.name }}</td>
				<td>{{ srs_ship.shipclass.name }}</td>
				<td>{{ srs_ship.owner }}</td>
			</tr>
		{% endif %}
	{% empty %}
	<tr>
		<td colspan="4">No ships in sector.</td>
	</tr>
	{% endfor %}
</table>

<h2>Map</h2>
<table class="map">
	<tr>
		<th></th>
		{% with local_map|iter_first as row %}
			{% for x,field in row.items %}
			<th>{{ x }}</th>
			{% endfor %}
		{% endwith %}
	</tr>
	{% for y,row in local_map.items %}
	<tr>
		<th>{{ y }}</th>
		{% for x,field in row.items %}
		<td style="background-image: url({% static "map/img/" %}{{ field.fieldtype.id }}.gif);" title="{{ field }}">
			{% if ships_in_sensor_range|get_y:y|get_x:x|length > 0 %}
				{{ ships_in_sensor_range|get_y:y|get_x:x|length }}
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

<h2>Navigation</h2>
<form action="{% url "ships:move" ship.id %}" method="post">
{% csrf_token %}
<table>
	<tr>
		<td></td>
		<td><input type="submit" name="up" value="up" /></td>
		<td></td>
	</tr>
	<tr>
		<td><input type="submit" name="left" value="left" /></td>
		<td><input type="text" name="jump" maxlength="2" value="1" style="width: 3em;" /></td>
		<td><input type="submit" name="right" value="right" /></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" name="down" value="down" /></td>
		<td></td>
	</tr>
</table>
</form>
{% endblock %}
