{% extends "game.html" %}
{% load staticfiles %}
{% load remaining_percent %}

{% block pagetitle %}
Colony Detail:
	{% if colony %}
		{{ colony.name }}
	{% else %}
		No colony found!
	{% endif %}
{% endblock %}

{% block content %}
	{% if colony %}
	<table class="map">
		{% for row_id,row in surface.items %}
		<tr>
		{% for col_id,cell in row.items %}
		<td alt="{{ cell.field.field.name }}" title="{% if cell.building %}{{ cell.building.building }}{% else %}{{ cell.field.field.name }}{% endif %} at ({{ cell.field.y }},{{ cell.field.x }})">
				<a href="{% url 'colony:fielddetail' colony.id cell.field.x cell.field.y %}">
					{% if cell.field %}
						<img src="{% static "colony/img/fields/" %}{{ cell.field.field.id }}.gif" />
					{% endif %}
					{% if cell.building %}
						<img src="{% static "colony/img/buildings/" %}{{ cell.building.building.id }}.png" />
						{% if cell.building.under_construction %}
							<div class="percentage" style="width:{{ cell.building.construction_progress|remaining_percent }}%;">
						{% endif %}
						</div>
					{% endif %}
				</a>
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
	{% endif %}
{% endblock %}
