{% extends "game.html" %}
{% load staticfiles %}

{% block head %}
{{ block.super }}
<link href="{% static "colony/css/colony.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block pagetitle %}
Colony Field Detail: {{ field.field.name }}
{% endblock %}

{% block content %}
	<img src="{% static "colony/img/fields/" %}{{ field.field.id }}.gif" alt="{{ field.field.name }}" title="{{ field.field.name }} at ({{ field.y }}, {{ field.x }})" />
	{% if building %}
		<img src="{% static "colony/img/buildings/" %}{{ building.building.id }}.png" alt="{{ building.building.name }}" title="{{ building.building.name }}" />
	{% endif %}
	{% if buildings %}
		<form method="post" action="{% url "colony:build" field.colony.id field.x field.y %}" accept-charset="utf-8" class="tiling">
			{% csrf_token %}
			{% for building in buildings %}
				<button type="submit" name="build" value="{{ building.building.id }}" />
					<img src="{% static "colony/img/buildings/" %}{{ building.building.id }}.png" alt="{{ building.building.name }}" />
					{{ building.building.name }} ({{ building.building.build_time }})
				</button>
			{% endfor %}
		</form>
	{% else %}
		No buildings here!
	{% endif %}

	<ul>
	</ul>
{% endblock %}
