{% extends "game.html" %}
{% load staticfiles %}

{% block head %}
{{ block.super }}
<link href="{% static "colony/css/colony.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block pagetitle %}
Colony Field Detail: {{ field.field.name }}
{% endblock %}

{% block content %}
	<img src="{% static "colony/img/fields/" %}{{ field.field.id }}.gif" alt="{{ field.field.name }}" title="{{ field.field.name }} at ({{ field.y }}, {{ field.x }})" />
	{% if building %}
		<img src="{% static "colony/img/buildings/" %}{{ building.building.id }}.png" alt="{{ building.building.name }}" title="{{ building.building.name }}" />
		<form method="post" action="{% url "colony:switch" field.colony.id field.x field.y %}">
			{% csrf_token %}
			{% if building.is_active %}
				<button type="submit" name="switch" value="switch" title="deactivate building">Building is active, deactivate building</button>
			{% else %}
				<button type="submit" name="switch" value="switch" title="activate building">Building is inactive, activate building</button>
			{% endif %}
		</form>
	{% endif %}
	{% if buildings %}
		<form method="post" action="{% url "colony:build" field.colony.id field.x field.y %}" accept-charset="utf-8" class="tiling">
			{% csrf_token %}
			{% for building in buildings %}
				<button type="submit" name="build" value="{{ building.building.id }}" title="">
					<h1>{{ building.building.name }}</h1>
					<div class="content">
						<img src="{% static "colony/img/buildings/" %}{{ building.building.id }}.png" alt="{{ building.building.name }}" />
						{{ building.building.name }}
						<h2>Properties</h2>
						Time: {{ building.building.build_time }}
						<h2>Cost</h2>
						<ul>
							<li><img src="{% static "colony/img/" %}energy.gif" alt="Energy" title="Energy"/> {{ building.building.building_energy_cost }}</li>
							{% for ga in building.building.building_cost.goodassignment_set.all %}
							<li><img src="{% static "goods/img/" %}{{ ga.good.id }}.gif" alt="{{ ga.good }}" title="{{ ga.good }}"/> {{ ga.count }}</li>
							{% endfor %}
						</ul>
						<h2>Production</h2>
						<ul>
							{% if building.building.production_energy != 0 %}
							<li><img src="{% static "colony/img/" %}energy.gif" alt="Energy" title="Energy"/> {{ building.building.production_energy }}</li>
							{% endif %}
							{% for ga in building.building.production.goodassignment_set.all %}
							<li><img src="{% static "goods/img/" %}{{ ga.good.id }}.gif" alt="{{ ga.good }}" title="{{ ga.good }}"/> {{ ga.count }}</li>
							{% endfor %}
						</ul>
					</div>
				</button>
			{% endfor %}
		</form>
	{% else %}
		No buildings here!
	{% endif %}

	<ul>
	</ul>
{% endblock %}
