{% extends "base.html" %}

{% block head %}
<style type="text/css">
	body {
		background-color: #cccccc;
	}
	#navigation {
		position: fixed;
		left: 0em;
		top: 0em;
		width: 10em;
		padding: 0;
		margin: 0;
		background-color: #567ebb;
		height: 100%;
	}
	#navigation ul {
		margin: 0;
		padding: 0;
	}
	#navigation ul li {
		list-style: none;
		margin-bottom: 1px;
	}
	#navigation ul li a {
		display: block;
		width: 9em;
		text-decoration: none;
		color: #dce0e6;
		padding: 0.5em 0em 0.5em 1em;
	}
	#navigation ul li a:hover {
		background-color: #dce0e6;
		color: #000000;
	}
	#content {
		position: absolute;
		top: 0em;
		left: 10em;
		margin-left: 1em;
		margin-right: 1em;
		padding: 0;
		right: 0;
	}
	#messages {
		background-color: #567ebb;
		padding: 0.2em;
		margin-bottom: 1em;
	}
	#messages ul {
		list-style: none;
	}
	table {
		background-color: #afafaf;
		border-collapse: collapse;
	}
	table tr {
	}
	table tr td {
		margin: 0em;
		padding: 0.5px;
	}
	table tr td img {
	}
	a {
		display: block;
	}
	ul#modules {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: auto;
	}
	ul#modules > li {
		display: block;
		width: 16px;
		height: 16px;
		padding: 0;
		float: left;
		margin-left: 3px;
	}
	ul#modules > li > img {
		margin: 0;
	}
	table.map > tbody > tr > td {
		width: 30px;
		height: 30px;
		color: #ffffff;
	}
	table.map > tbody > tr > td > a {
		position: relative;
		width: 100%;
		height: 100%;
	}
	table.map > tbody > tr > td > a > * {
		position: absolute;
	}
	table.map > tbody > tr > td  div.text {
		color: #ffffff;
		width: 100%;
		height: 100%;
		line-height: 30px;
		text-align: center;
	}
	table.map > tbody > tr > td  div.percentage {
		right: 0;
		height: 100%;
		background-color: #ffffff;
		opacity: 0.6;
	}
	/* remove additional border for firefox in button elements */
	button::-moz-focus-inner {
		padding: 0;
		border: 0
	}
</style>
{% endblock %}

{% block body %}
<div id="navigation">
	{% block navigation %}
	<ul>
		<li><a href="{% url "main:mainscreen" %}">Mainscreen</a></li>
		<li><a href="{% url "colony:list" %}">Colony</a></li>
		<li><a href="{% url "ships:list" %}">Ships</a></li>
		{% if user.is_staff %}
		<li><a href="{% url "admin:index" %}">Admin</a></li>
		{% endif %}
		<li><a href="{% url "logout" %}">Logout</a></li>
	</ul>
	{% endblock %}
</div>
<div id="content">
	<h1>{% block pagetitle %}{% endblock %}</h1>
	{% if messages %}
	<div id="messages">
		<ul>
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	</ul>
	</div>
	{% endif %}
	{% block content %}
	{% endblock %}
</div>
{% endblock %}
